*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFB6C1;
    position: relative;
}
.login{
    position: absolute;
    border-color: black;
    background-color: white;
    padding: 200px;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

}
